.well.text-center#interface
  .wrapper
    %canvas.emscripten#canvas{ oncontextmenu: "event.preventDefault()", height: 600, width: 960}
    .overflow
      %ul.stats
        %li.queue= "Queue: #{@queue}"
        %li.state= "Current state: wait"

      %a#fly_up.btn.btn-primary Fly up
      %ul#history
        - @history.each do |hist|
          %li #{hist.airplane_id}: #{hist.from} -> #{hist.to} : #{hist.created_at.strftime("%d.%m.%y %H:%M:%S")}

= hidden_field_tag 'queue', @queue
