#interface{

  position: relative;
  .wrapper{
    position: relative;
    width: 960px;
    height: 600px;
    margin: 0 auto;
    padding: 0;
  }

  canvas {
    z-index: 100;
  }
  .overflow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 200;
    background: url(/assets/white_airplane.jpg) 100% no-repeat;
  }
  .stats{
    position: absolute;
    font-weight: bold;
    font-size: 28px;
    top: 10px;
    left: 10px;
  }

  li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  #history{
    position: absolute;
    bottom: 10px;
    right: 0;
    overflow: scroll;
    max-height: 200px;
    width: 300px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }

  #fly_up{
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 300;
  }

  .loading{
    font-size: 42px;
    width: 250px;
    font-weight: bold;
    position: absolute;
    left: 300px;
    top: 200px;
    color: #555;
  }
}
