!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "BelItSoft | Test Application"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"


  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand(href="/") Simple
        .container.nav-collapse
          %ul.nav.navbar-nav
            %li= link_to 'Improved', '/improved'

    .container
      #notice
      #main
        = yield
      %footer.text-center
        %a{href: "mailto: tarassovf@gmail.com"} Fedor Tarasov
        &copy;
        = Date.today.year
